@import "../../common/css/constant.less";

.home{
  display: flex;
  justify-content: space-between;
}

.home-content{
  width: 800px;
  .home-content-blog{
    margin-bottom: 20px;
  }
}
.home-side{
  width: 300px;
}